<!DOCTYPE html>
<html>
<head>
    <title><%= literals.dashboard.TITLE %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<div class="menu">
    <a href="<%= routes.auth.logout %>" class="button logout-button"><%= literals.dashboard.LOGOUT %></a>
    <% if (user.isAdmin) { %>
        <a href="<%= routes.admin.panel %>" class="button admin-button"><%= literals.dashboard.ADMIN_PANEL %></a>
    <% } %>
</div>

<div class="container">
    <h1 class="title"><%= literals.dashboard.HEADER %></h1>
    <p class="welcome"><%= literals.dashboard.WELCOME_USER.replace('{username}', user.username) %></p>
    <div class="lootbox-container">
        <div class="lootbox" id="lootbox">
            <img src="/images/lootbox2.png" alt="Lootbox" />
        </div>
        <button id="acceptButton" class="accept-button" style="display: none;">
            <%= literals.dashboard.ACCEPT_BUTTON %>
        </button>
    </div>

    <div class="inventory-container">
        <h2><%= literals.dashboard.INVENTORY_TITLE %></h2>
        <div class="inventory-grid">
            <% for (let i = 0; i < 20; i++) { %>
                <div class="inventory-slot"></div>
            <% } %>
        </div>
    </div>
</div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const lootbox = document.getElementById("lootbox");
        const acceptButton = document.getElementById("acceptButton");

        lootbox.addEventListener("click", () => {
            lootbox.classList.add("clicked");

            lootbox.addEventListener("animationend", function handleLootboxAnimation() {
                lootbox.style.display = "none";
                acceptButton.style.display = "flex";
                acceptButton.classList.add("show");
                lootbox.classList.remove("clicked");
                lootbox.removeEventListener("animationend", handleLootboxAnimation);
            });
        });

        acceptButton.addEventListener("click", () => {
            acceptButton.classList.add("hide");

            acceptButton.addEventListener("animationend", function handleButtonAnimation() {
                acceptButton.style.display = "none";
                lootbox.style.display = "block";
                lootbox.classList.add("show");
                acceptButton.classList.remove("hide");
                acceptButton.removeEventListener("animationend", handleButtonAnimation);

                setTimeout(() => {
                    lootbox.classList.remove("show");
                }, 2000);
            });
        });
    });
</script>
</html>
