<!DOCTYPE html>
<html>
<head>
  <title><%= literals.homepage.TITLE %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<div class="container">
  <h1 class="title"><%= literals.homepage.HEADER %></h1>
  <p class="welcome"><%= literals.homepage.DESCRIPTION %></p>
  <div class="menu">
    <a href="<%= routes.auth.login %>" class="button"><%= literals.homepage.LOGIN %></a>
    <a href="<%= routes.auth.register %>"  class="button"><%= literals.homepage.REGISTER %></a>
  </div>
</div>
</body>
</html>
